***Q1***

In [ ]:
print("Power is a lot like real estate. It's all about location, location, location. The closer you are to the source, the higher your property value")

Power is a lot like real estate. It's all about location, location, location. The closer you are to the source, the higher your property value

***Q2.1***

In [ ]:
num1=10
num2=20
sum_r=num1+num2
print(f"{sum_r}")

30

***Q2.2***

In [ ]:
str1="Navnoor"
str2="Bawa"
result=str1+" "+str2
print(f"{result}")

Navnoor Bawa

***Q2.3***

In [ ]:
name="Python"
version=3.9
result=f"{name} version {version}"
print(result)

Python version 3.9

***Q3.1***

In [ ]:
def check_number(num):
  if num>0:
    print(f"{num} is positive")
  elif num<0:
    print(f"{num} is negative")
  else:
    print(f"{num} is zero")

check_number(-5)

-5 is negative

***Q3.2***

In [ ]:
def check_odd_even(num):
  if num%2==0:
    print(f"{num} is even ")
  else:
    print(f"{num} is odd")
check_odd_even(7)

7 is odd

***Q4.1***

In [ ]:
for i in range(1, 11):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

***Q4.2***

In [ ]:
count =1
while count<=10:
  print(count,end=" ")
  count+=1

1 2 3 4 5 6 7 8 9 10

***Q4.3***

In [ ]:
del sum
sum_result=sum(range(1,101))
sum_result

5050

***Q5.1***

In [ ]:
numbers=[5,8,9,3,4]
print(f"Largest number:{max(numbers)}")

Largest number:9

***Q5.2***

In [ ]:
President={"name":"Trump","age":78,"country":"USA"}
print(f"Age:{President['age']}")

Age:78

***Q5.3***

In [ ]:
del numbers
numbers=[5,8,3,4,9]
sort_asc=sorted(numbers)
sort_desc=sorted(numbers,reverse= True)
print(f"Ascending: {sort_asc}")
print(f"Descending: {sort_desc}")

Ascending: [3, 4, 5, 8, 9]
Descending: [9, 8, 5, 4, 3]

***Q5.4***

In [ ]:
dict1={"a":1,"b":2}
dict2={"c":3,"d":4}
mereg_dict={**dict1,**dict2}
print(f"merged dict:{mereg_dict}")

merged dict:{'a': 1, 'b': 2, 'c': 3, 'd': 4}

***Q6.1***

In [ ]:
def count_vowels(string):
  vowels="aeiouAEIOU"
  count=0
  for char in string:
    if char in vowels:
      count += 1
  return count

text="Navnoor"
print(f"Number of vowels:{count_vowels(text)}")

Number of vowels:3

***Q6.2***

In [ ]:
def reverse_string(string):
  return string[::-1]
text="Navnoor"
print(f"Reversed string:{reverse_string(text)}")

Reversed string:roonvaN

***Q6.3***

In [ ]:
def is_palindrome(string):
  clean_str=string.lower().replace(" ","")
  return clean_str==clean_str[::-1]
text1="Navnoor"
print(f"palindrome:{is_palindrome(text1)}")
text2="nurses run"
print(f"palindrome:{is_palindrome(text2)}")

palindrome:False
palindrome:True

***Q7.1***

In [ ]:
def write_and_read():
  file=open("test.txt","w")
  file.write("Hello World\nThis is a test file.")
  file.close()

  file=open("test.txt","r")
  content=file.read()
  print(content)
  file.close()

write_and_read()

Hello World
This is a test file.

***Q7.2***

In [ ]:
def append_to_file():
  file=open("test.txt","a")
  file.write("\nNew line added")
  file.close()

  file = open("test.txt","r")
  print(file.read())
  file.close()

append_to_file()

Hello World
This is a test file.
New line added

***Q7.3***

In [ ]:
def count_lines():
  file=open("test.txt","r")
  lines =file.readlines()
  file.close()
  return len(lines)

print(f"Number of lines: {count_lines()}")

Number of lines: 3

***Q8.1***

In [ ]:
def safe_divsion(a,b):
  try:
      result=a/b
      return result;
  except ZeroDivisionError:
      return "Error: Division by zero"

print(safe_divsion(10,0))
print(safe_divsion(10,1))

Error: Division by zero
10.0

***Q8.2***

In [ ]:
def get_number():
  try:
    num=int(input("Enter a number:"))
    return num
  except ValueError:
    return "invalid input.please enter a number"

print(get_number())

Enter a number:abc
invalid input.please enter a number

***Q8.3***

In [ ]:
def file_handling_with_finally():
  file=None
  try:
    file=open("nav.txt","r")
    content=file.read()
    return content
  except FileNotFoundError:
    return "File not found"
  finally:
    if file:
      file.close()
      print("file closed successfully")

file_handling_with_finally()

File not found

***Q9.1***

In [ ]:
import random
import string

def generate_random_numbers():
  return [random.randint(1,100) for _ in range(5)]

generate_random_numbers()

[74, 65, 62, 13, 25]

***Q9.2***

In [ ]:
def is_prime(n):
  if n<2:
    return False
  for i in range(2,n):
    if n%i==0:
      return False
  return True

def random_prime_check():
  num=random.randint(1,100)
  if is_prime(num):
    return f"Number {num} is prime "
  else:
    return f"Number {num} is not prime"

random_prime_check()

'Number 30 is not prime'

***Q9.3***

In [ ]:
def roll_die():
  return random.randint(1,6)
roll_die()

2

***Q9.4***

In [ ]:
def shuffle_list(list):
  random.shuffle(list)
  return list

list=[1,2,3,4,5]
shuffled_list=shuffle_list(list)
shuffled_list

[2, 4, 3, 1, 5]

***Q9.5***

In [ ]:
def random_list(list):
  return random.choice(list)
list2=[5,7,8,9]
random_list(list2)

7

***Q9.6***

In [ ]:
def generate_password(length=7):
  characters=string.ascii_letters+string.digits+string.punctuation
  return''.join(random.choice(characters) for _ in range(length))

generate_password()

'{tVD1Q.'

***Q9.8***

In [ ]:
def pick_random_card():
  suits=['Hearts','Diamonds','Clubs','Spades']
  ranks=['2','3','4','5','6','7','8','9','10','J','Q','K','A']
  return random.choice(suits),random.choice(ranks)
pick_random_card()

('Clubs', '8')

***Q10.1***

In [ ]:
import sys

def add_numbers_cli():
  if len(sys.argv)!=3:
    return "PLease provide two numbers"
  try:
    num1=float(sys.argv[1])
    num2=float(sys.argv[2])
    return num1+num2
  except ValueError:
    return "Invalid input.Please provide valid numbers"

add_numbers_cli()

'Invalid input.Please provide valid numbers'

***Q10.2***

In [ ]:
def string_length_cli():
  if len(sys.argv)!=2:
    return "Please provide a string"
  return len(sys.argv[1])

string_length_cli()

'Please provide a string'

***11.1***

In [ ]:
import math
from datetime import datetime
import os

def calculate_sqrt(number):
  return math.sqrt(number)

calculate_sqrt(49)

7.0

***Q11.2***

In [ ]:
import pytz
def current_datetime():

  tz = pytz.timezone('Asia/Kolkata')
  now=datetime.now(tz)
  return now.strftime("%d-%m-%Y %H:%M:%S")
current_datetime()

'13-01-2025 10:15:08'

***Q11.3***

In [ ]:
def list_files():
  return os.listdir('.')
list_files()

['.config', 'sample_data']