***Q1***

In [2]:
L=[10, 20, 30, 40, 50, 60, 70, 80]
L.extend([200,300])
print(L)
L.remove(10)
L.remove(30)
print(L)
L.sort()
print(L)
L.sort(reverse=True)
print(L)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

***Q2***

In [3]:
scores=(45, 89.5, 76, 45.4, 89, 92, 58, 45)
highest=max(scores)
highest_index=scores.index(max(scores))
print(f"Highest score: {highest},Index:{highest_index}")
lowest=min(scores)
lowest_index=scores.count(lowest)
print(f"Lowest score: {lowest},Index:{lowest_index}")
reversed_list=list(scores[::-1])
print("reversed list:",reversed_list)
score_to_find=45.4
if score_to_find in scores:
  print(f"Score {score_to_find} found at index{scores.index(score_to_find)}")
else:
  print(f"Score{score_to_find}not present")

Highest score: 92,Index:5
Lowest score: 45,Index:2
reversed list: [45, 58, 92, 89, 45.4, 76, 89.5, 45]
Score 45.4 found at index3

***Q3***

In [7]:
import random
numbers=[random.randint(100,900)for _ in range(100)]
odd=[n for n in numbers if n%2==1]
print("odd nubmers count:",len(odd))
even=[n for n in numbers if n%2==0]
print("even numbers count:",len(even))
def is_prime(n):
  if n<2:
    return False
  for i in range(2,n):
    if n%i==0:
      return False
    return True
prime_numbers=[n for n in numbers if is_prime(n)]
print("prime numbers count:",len(prime_numbers))

odd nubmers count: 51
even numbers count: 49
prime numbers count: 51

***Q4***

In [18]:
A={34, 56, 78, 90}
B={78, 45, 90, 23}

union_set=A.union(B)
print("Union:",union_set)
intersection_set=A.intersection(B)
print("Intersection:",intersection_set)
symmetric_diff=A.symmetric_difference(B)
print("Symmetric difference:",symmetric_diff)
is_subset=A.issubset(B)
is_superset=A.issuperset(B)
print("A is subset of B:",is_subset)
print("B is superser of A:",is_superset)
x=int(input("Score to remove from set A: "))
if x in A:
  A.remove(x)
  print(f"{x} removed from set A")

else:
  print(f"{x} not present in set A")
print("Updated set A:",A)

Union: {34, 45, 78, 23, 56, 90}
Intersection: {90, 78}
Symmetric difference: {34, 45, 23, 56}
A is subset of B: False
B is superser of A: False
Score ot remove from set A: 56
56 removed from set A
Updated set A: {34, 90, 78}

***Q5***

In [21]:
sample_dict = {
"name": "Kelly",
"age": 25,
"salary": 8000,
"city": "New york"
}
sample_dict["location"]= sample_dict.pop("city")
print("Updated dictionary:",sample_dict)

Updated dictionary: {'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}